{
	"printWidth": 140,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.css",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
