body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.map-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.map-overlay button {
  margin: 3px;
}